/* Start Global Rules */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	background-color: #F5F5F5;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1000px;
}

/* End Global Rules */

/* Start Sidebar */
aside {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: #A3A3A3;
	padding: 8px;
	width: 128px;
}

button {
	font-size: 20px;
	padding: 6px 12px;
	border: none;
	cursor: pointer;
	width: 100%;
	background-color: #e9e9ed;
}

#menu {
	background-color: #999;
	padding: 0px;
	display: none;
}

#menu.show-menu {
	display: block;
}

#menu input {
	padding: 4px;
	width: 100%;
}
/* End Sidebar */

/* Start Grid */
.grid-container {
	display: flex;
	justify-content: space-between;
	align-items: space-between;
	flex-wrap: wrap;
	width: 720px;
	height: 720px;
	border: 2px solid black;
	background-color: #fff;
}

.pixel {
	border: 1px solid lightgrey;
	border-collapse: collapse;
	box-sizing: border-box;
}

.pixel.black {
	background-color: #000;
}
/* End Grid */
